.background {
  margin: 12px lightgray;
  background-color: lightgray;
}

.jumbotron {
  text-align: center;
  border-width: medium;
}

h3 {
  font-size: 32px
}

.well {
  background-color: #eeeeee;
  text-align: center;
}

.global-font {
  font-family: sans-serif;
}

img {
  float: left:
  max-height: auto;
  max-width: 50%;
}

.panel {
  background-color: #eeeeee;
}

blockquote {
  float: right;
}

.well {
  text-align: center;
}

.column {
  width: 300px;
  float: right;
}

.fancy {
  font-weight: bold;
  font-style: italic;
}
